<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/_head :: head(~{::link})">
    <link th:href="@{/css/pedirsoporte.css}" rel="stylesheet" />
</head>
<body>

<nav th:replace="layout/_navbar :: navbar"></nav>

<section class="main-section">
    <div class="input-wrapper">
        <h2>Detalles de su solicitud</h2>
        <h4>Estos detalles han sido enviados a su correo electronico</h4>
        <div class="detalles-wrapper">
            <div class="left-wrapper">
                <p th:text="${'Tipo de soporte: ' + ticket.tipoSoporte}"></p>
                <p th:text="${'Prioridad: ' + ticket.prioridad}"></p>
                <p th:text="${'Ticket #'+ ticket.numTicket}"></p>
            </div>
            <div class="right-wrapper">
                <p th:text="${'Detalles: ' + ticket.descripcion}"></p>
            </div>
        </div>

        <form method="get" th:action="@{/index/pedirsoporte}">
            <input type="submit" class="button" value="Registrar otra solicitud">
            </form>
        <form method="get" th:action="@{/auth/login?logout}">
            <input type="submit" class="button button-logout" value="Cerrar sesion">
        </form>
    </div>
</section>
</body>
</html>