<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">

</head>
<body>
<nav th:replace="layout/_navbar :: navbar"></nav>
<section class="main-section-login">
    <div class="center-wrapper">
        <div class="input-wrapper">
            <h1> Inicio de sesion</h1>
            <h4>Ingrese sus credenciales</h4>
            <form method="post" th:action="@{/auth/login}">
            <label for="username">Usuario:</label>
            <input type="text"  name="username" id="username" class="inputmain" placeholder="juan123"/>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="inputmain" placeholder="password"/>
            <input type="submit" class="button" value="Iniciar sesion"/>
            </form>
        </div>
    </div>
</section>
<div th:if="${param.error}"  class="param-error">
    <p>No se ha podido iniciar sesion. Intente de nuevo mas tarde.</p>
</div>
<div th:if="${param.success}"  class="param-success">
    <p>Se ha registrado exitosamente. Para continuar inicie sesion.</p>
</div>
</body>
</html>