<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/_head :: head(~{::link})">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <title>Soporte Da2</title>
</head>
<body>
<nav th:replace="layout/_navbar :: navbar"></nav>
<section class="main-section-login">
    <div class="center-wrapper">
        <div class="input-wrapper fixed">
            <form method="post" th:action="@{/registrausuario}">
            <div class="top-wrapper">
            <h1>Registro de usuarios</h1>
            <h4>Ingrese los datos solicitados:</h4>
            </div>
            <div class="center-wrapper2">
            <div class="inside-left-wrapper">
            <label for="user">Usuario:</label>
            <input type="text"  name="user" id="user" class="inputmain" placeholder="juan123" th:required/>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" class="inputmain" placeholder="password" th:required/>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" class="inputmain" placeholder="Juan Torres" th:required/>
            <div class="wrapper-document-register">
                <div><p>Documento de identidad:</p></div>
                <div>
                    <select class="" name="tipoDoc"
                             id="tipoDoc" th:required>
                    <option value="C.C">C.C</option>
                    <option value="T.I">T.I</option>
                    <option value="P.E">P.E</option>
                </select>
                    <input type="number" name="numDoc" id="numDoc" class="inputmain" placeholder="1123345555" th:required/>
                </div>

            </div>
            </div>
            <div class="inside-right-wrapper">
            <label for="empresa">Nombre de la empresa</label>
            <input type="text" name="empresa" id="empresa" class="inputmain" placeholder="Pulpos Online SAS" th:required/>
            <label for="cargo">Cargo:</label>
            <input type="text" name="cargo" id="cargo" class="inputmain" placeholder="Auxiliar de servicios" th:required/>
            <label for="correo">Correo:</label>
            <input type="email" name="correo" id="correo" class="inputmain" placeholder="juan@gmail.com" th:required/>

            </div>
<!--            <button class="button" onclick="fetchBuscarPaciente()">Iniciar sesion</button>-->
            </div>
            <div class="bottom-wrapper"><input type="submit" class="button button-register-fixed" value="Registrarse"/></div>
            </form>
        </div>
    </div>
</section>
</body>
</html>