<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/_head :: head(~{::link})">
    <link th:href="@{/css/tickets.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="layout/_navbar :: navbar"></nav>
<section th:replace="layout/_menuizquierdo :: menuizquierdo"></section>
<section class="section-tickets-disponibles">
    <div><h2>Solicitudes pendientes:</h2></div>
    <div class="contenedor-ticket">
        <div>
            <p><b>Solicitado por:</b> correo@correo.com</p>
            <p><b>Prioridad:</b> Alta</p>
        </div>
        <div>
            <p><b>Descripcion:</b></p>
            <p>Esta es la descripcion del ticket que se ha generado.</p>
        </div>
        <div>
            <form>
                <input type="hidden" name="numTicket" id="numTicket" value="1"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>
    <div class="contenedor-ticket">
        <div>
            <p><b>Solicitado por:</b> correo@correo.com</p>
            <p><b>Prioridad:</b> Alta</p>
        </div>
        <div>
            <p><b>Descripcion:</b></p>
            <p>Esta es la descripcion del ticket que se ha generado.</p>
        </div>
        <div>
            <form>
                <input type="hidden" name="numTicket" id="numTicket" value="1"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>
    <div class="contenedor-ticket">
        <div>
            <p><b>Solicitado por:</b> correo@correo.com</p>
            <p><b>Prioridad:</b> Alta</p>
        </div>
        <div>
            <p><b>Descripcion:</b></p>
            <p>Esta es la descripcion del ticket que se ha generado.</p>
        </div>
        <div>
            <form>
                <input type="hidden" name="numTicket" id="numTicket" value="1"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>
    <div class="contenedor-ticket">
        <div>
            <p><b>Solicitado por:</b> correo@correo.com</p>
            <p><b>Prioridad:</b> Alta</p>
        </div>
        <div>
            <p><b>Descripcion:</b></p>
            <p>Esta es la descripcion del ticket que se ha generado.</p>
        </div>
        <div>
            <form>
                <input type="hidden" name="numTicket" id="numTicket" value="1"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>
    <div class="contenedor-ticket">
        <div>
            <p><b>Solicitado por:</b> correo@correo.com</p>
            <p><b>Prioridad:</b> Alta</p>
        </div>
        <div>
            <p><b>Descripcion:</b></p>
            <p>Esta es la descripcion del ticket que se ha generado.</p>
        </div>
        <div>
            <form>
                <input type="hidden" name="numTicket" id="numTicket" value="1"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>