<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/_head :: head(~{::link})">
    <link th:href="@{/css/tickets.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="layout/_navbar :: navbar"></nav>
<section th:replace="layout/_menuizquierdo :: menuizquierdo"></section>
<section class="section-tickets-disponibles">
    <div class="text-main" sec:authorize="hasAuthority('ROL_S')"><h2>Solicitudes pendientes:</h2></div>
    <div class="text-main" sec:authorize="hasAuthority('ROL_C')"><h2>Tickets solicitados:</h2></div>
    <div class="text-main" sec:authorize="hasAuthority('ROL_T')"><h2>Tickets asignados:</h2></div>
    <div class="contenedor-ticket" th:if="${#lists.isEmpty(tickets)}"><h4>No hay tickets registrados...</h4></div>
    <div class="contenedor-ticket" th:each="ticket: ${tickets}" th:if="${not #lists.isEmpty(tickets)}">
        <div>
            <b>Solicitado por: </b><p th:text="${ticket.creador}"> </p>

        </div>
        <div>
            <b>Prioridad: </b><p th:text="${ticket.prioridad}">  </p>
        </div>
        <div>
            <b>Descripcion:</b>
            <p class="descripcion-ticket" th:text="${ticket.descripcion}"></p>
        </div>
        <div>
            <b>Estado:</b>
            <p th:text="${ticket.estadoLetras}"></p>
        </div>
        <div>
            <form method="post" th:action="@{/index/detalleticket}">
                <input type="hidden" name="idTicket" id="idTicket" th:value="${ticket.idTicket}"/>
                <input type="submit" value="Detalles"/>
            </form>
        </div>
    </div>

</section>

<div th:if="${param.error}"  class="param-error">
    <p>No se ha podido registrar al tecnico. Intente de nuevo mas tarde.</p>
</div>
<div th:if="${param.success}"  class="param-success">
    <p>Se ha registrado exitosamente.</p>
</div>
<div th:if="${param.error2}"  class="param-error">
    <p>No se ha podido cambiar el estado. Intente de nuevo mas tarde.</p>
</div>
</body>
</html>